<html>

    <head>
        <title>Crear Entrenador</title>
        <h2>Crear Entrenador</h2>
    </head>

    <body>

    </body>

    <footer>
        <%- include('../shared/footer') %>
    </footer>

</html>