<html>

    <head>
        <title>Entrenadores</title>
        <h2>Entrenadores</h2>
    </head>

    <body>
        <a href="/crear-entrenador">
            <button>Crear Entrenador</button>
        </a>
    </body>

    <footer>
        <%- include('../shared/footer') %>
    </footer>

</html>