<html>

<head>
    <title>Login</title>
    <h2>Login a "Entrenadores"</h2>
</head>

<body>

    <form action="/login" method="POST">
        <label for="usuarioId">Usuario</label>
        <input id="usuarioId"
               type="text"
               name="usuario">
        <br>
        <label for="passwordId">Password</label>
        <input id="passwordId"
               type="password"
               name="password">
        <br>
        <button type="submit">Log in</button>

    </form>

</body>

</html>