<html>

    <head>
        <title>Home</title>
        <h2>Home</h2>
    </head>

    <body>
        <% const esSupervisor = roles.some((rol) => rol == 'Supervisor') %>
        <% const esAdministrador = roles.some((rol) => rol == 'Administrador') %>

        <h3>Bienvenido <%= usuario %></h3>

        <% if(esSupervisor){ %>
            <button>Permisos de: Supervisor</button>
        <% } %>

        <% if(esAdministrador){ %>
            <p>Permisos de: Administrador</p>
        <% } %>
        <br>
        <a href="entrenador/vista/inicio">
            <button>Ver entrenadores</button>
        </a>
        <br>
<!--        <a href="/logout">-->
<!--            <button>Logout</button>-->
<!--        </a>-->
    </body>

    <footer>
        <%- include('../shared/footer') %>
    </footer>

</html>

