<!-- ejemplo.ejs -->

<html>
    <head>
        <!-- Configuraciones o metadatos -->
        <!-- CSS -->
        <link rel="stylesheet" href="/css/estilos-generales.css">
    </head>
    <body>
        <p> Hola <%= nombre %> </p>
        <!-- CONTENIDO HTML -->
        <!-- SCRIPTS -->
        <script src="/js/logica-general.js"></script>
    </body>
</html>

<!-- Ctrl + Alt + L - sirve para identar como debería ser -->

<!-- Ejemplo de como funcionan los lenguajes de etiqueta -->
<!--    <raiz>-->
<!--        <universidad>-->
<!--            <facultad atributo="valor" propiedad="valor" acreditada>-->
<!--                Sistemas-->
<!--            </facultad>-->
<!--            <facultad>Mecánica</facultad>-->
<!--        </universidad>-->
<!--        <universidad>-->
<!--            <facultad>Administración</facultad>-->
<!--            <facultad>Finanzas</facultad>-->
<!--        </universidad>-->
<!--    </raiz>-->